<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="156a1a4e-6449-4a00-9452-972dcd3869cd" name="Functional Test">
  <con:description>The test suite generated for the REST service [WorldCupScores API]</con:description>
  <con:settings id="2a1e9408-5b52-402c-99c8-b5e6cc16d7f9">
    <con:setting id="156a1a4e-6449-4a00-9452-972dcd3869cdfileName">Functional-Test</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
