# --- Azure AD (Entra ID) app registration used to read group membership ---
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
# Object ID of the AAD security group that represents "should have SwaggerHub access"
AZURE_GROUP_ID=

# --- SwaggerHub / Swagger Studio ---
SWAGGERHUB_API_KEY=
SWAGGERHUB_ORG=domcrosbie-cc0
# INTERNAL or EXTERNAL - passed to the invite endpoint
SWAGGERHUB_USER_TYPE=INTERNAL

# --- Behaviour ---
# Set to "true" to run against local fixtures instead of live Graph/SwaggerHub APIs
MOCK=true
# Where already-provisioned users are tracked so re-runs don't re-invite everyone
STATE_FILE=./state/synced-users.json
